body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:#281711;
    color:#8A5F41;
    font-family:Arial;
    overflow: hidden;
}

h1{
    font-size:120px;
    margin:0;
}

p{
    font-size:20px;
    opacity:0.7;
}

a{
    margin-top:20px;
    padding:12px 24px;
    background:#362018;
    color:#8A5F41;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);   

}

a:hover{
    opacity:0.8;
}

.Me{
    position: fixed;
    left: -110px;
    bottom: -175px;
    width: 400px;
}